<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JoyBoy's 2021 portoflio. Character Designer based in Buenos Aires, Argentina." />
    <meta name="keywords" content="Portfolio, Character Artist, Game Assets, Character Desing, Animation" />
    <meta name="author" content="Francisco Alamino" />
    <title>JoyBoy 2021</title>
    
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel='stylesheet' />

</head>

<body>
    <header id="main_header">
        <a id="header_logo" href="/"><img src="/images/joyboy.png" alt="JoyBoy signed" id="header_logo"></a>
        <a id="header_menu"><i class="fas fa-bars"></i></a>
        <nav id="header_nav">
            <ul id="header_nav_links">
                <li id="header_link"><a href="#">About me</a></li>
                <li id="header_link"><a href="#">Portfolio</a></li>
                <li id="header_link"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div id="header_nocturneMode"><i class="fas fa-moon"></i></div>
    </header>
    <main>

    </main>
</body>

</html>